<footer class="app-footer">
    <div class="footer-content">
      <div class="nav-item" (click)="goToHome()">
        <i class="fa fa-home"></i>
      </div>
      <div class="nav-item" (click)="goToCategories()">
        <i class="fa fa-th-large"></i>
      </div>
      <div class="nav-item" (click)="goToSearch()">
        
        <i class="fa fa-search"></i>
      </div>
      <div class="nav-item" (click)="goToCart()">
        <i class="fa fa-shopping-cart"></i>
      </div>
      <div class="nav-item" (click)="goToProfile()">
        <i class="fa fa-user"></i>
      </div>
    </div>
  </footer>